openapi: 3.0.0
info:
  title: 'Service Delivery API'
  description: 'Service API. Authorization SSO JWT token is required to test API'
#  contact:
#    email: dmemekh@ibagroup.eu
  version: 1.0
externalDocs:
  description: Service Delivery API design
  url: https://support.icdc.io/projects/locationadmin/wiki/Service_Delivery_Design
servers:
- url: https://api.scz.lab.icdc.io/api/delivery/v1
  description: API Proxy SCZ Lab
- url: https://api-loc.ext.dcl.ocp.lab.icdc.io/api/delivery/v1
  description: API Route DCL Lab
- url: https://api.ext.upi.ocp.lab.icdc.io/api/v1
  description: API Route UPI Lab
- url: https://service-api.icdc.d3.zby.icdc.io/api/v1
  description: Service API Route
tags:
  - name: Service
    description: Service API
  - name: Services
    description: Services API

paths:
  /service/{service_name}/version:
    parameters:
      - in: path
        name: service_name
        schema:
          type: string
        required: true
    get:
      tags:
       - 'Service'
      summary: Get available versions to install
      operationId: getVersions
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                example:
                  - type: object
                    properties:
                      version: 1.0.2
                      tag: latest
                      release: 1.0
                      date: 2021-09-09
                      required:
                        api-gateway: 1.0.1
                      aplications:
                        - name: httpd
                          tag: 1.0.1
                          description:
                            warnings: "* warning1\r\n* warning2"
                            features: "* feature1\r\n* feature2"
                            security_fixes: "* security1\r\n* security2"
                            bug_fixes: "* bug1\r\n* bug2"
                            depricated: "* depricated1\r\n* depricated2"
                            known_issues: ""

  /service/{service_name}/install:
    post:
      operationId: installService
      parameters:
      - in: path
        name: service_name
        schema:
          type: string
        required: true
      - in: query
        name: version
        schema:
          type: string
          example: 2.0.2
        required: true
      tags:
        - 'Service'
      summary: Install service
      responses:
        '204':
          description: 'No content'
    get:
      operationId: getInstalledVersion
      parameters:
      - in: path
        name: service_name
        schema:
          type: string
        required: true
      tags:
        - 'Service'
      summary: Get installed version
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  data:
                    type: string
                    example: 1.1.1

  /service/{service_name}:
    get:
      operationId: describeService
      parameters:
        - in: path
          name: service_name
          schema:
            type: string
          required: true
      tags:
        - 'Service'
      summary: Explore installed service version details
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: 1.1.1
                  tag:
                    type: string
                    example: latest
                  date:
                    type: string
                    example: 2024-02-09
                  required:
                    type: object
                    properties:
                      admin:
                        type: string
                        example: 1.0.0
                      compute:
                        type: string
                        example: 1.0.0
                  applications:
                    type: array
                    example:
                    - type: object
                      properties:
                        name: apigw
                        tag: 1.0.0
                        description:
                          warnings: "* warning1\r\n* warning2"
                          features: "* feature1\r\n* feature2"
                          security_fixes: "* security1\r\n* security2"
                          bug_fixes: "* bug1\r\n* bug2"
                          depricated: "* depricated1\r\n* depricated2"
                          known_issues: ""
                    - type: object
                      properties:
                        name: engine
                        tag: 1.0.0
                        ui_url: /billing/engine/remoteEntry.js
                        description:
                          warnings: "* warning1\r\n* warning2"
                          features: "* feature1\r\n* feature2"
                          security_fixes: "* security1\r\n* security2"
                          bug_fixes: "* bug1\r\n* bug2"
                          depricated: "* depricated1\r\n* depricated2"
                          known_issues: ""
    delete:
      operationId: deleteService
      parameters:
      - in: path
        name: service_name
        schema:
          type: string
        required: true
      - in: query
        name: delete_persistent_data
        schema:
          type: string
#          default: false
#          example: true
        description: Default value is empty (false)
      tags:
        - 'Service'
      summary: Delete service
      responses:
        '204':
          description: 'No content'

  /service/{service_name}/update:
#    parameters:
#      - in: path
#        name: service_name
#        schema:
#          type: string
#        required: true
    get:
      parameters:
        - in: path
          name: service_name
          schema:
            type: string
          required: true
      tags:
       - 'Service'
      summary: Get update vesion
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                example:
                  - type: object
                    properties:
                      version: 1.0.2
                      tag: latest
                      release: 1.0
                      date: 2021-09-09
                      required:
                        api-gateway: 1.0.1
                      aplications:
                        - name: httpd
                          tag: 1.0.1
                          description:
                            warnings: "* warning1\r\n* warning2"
                            features: "* feature1\r\n* feature2"
                            security_fixes: "* security1\r\n* security2"
                            bug_fixes: "* bug1\r\n* bug2"
                            depricated: "* depricated1\r\n* depricated2"
                            known_issues: ""
    put:
      parameters:
        - in: path
          name: service_name
          schema:
            type: string
          required: true
        - in: query
          name: version
          schema:
            type: string
            example: 1.0.2
          required: true
      tags:
       - 'Service'
      summary: Update version from update overview
      responses:
        '200':
          description: 'Success'
        '204':
          description: 'No content'
  /service/{service_name}/release:
    get:
      tags:
        - 'Service'
      parameters:
        - in: path
          name: service_name
          schema:
            type: string
          required: true
      summary: Get release version
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                example:
                  - type: object
                    properties:
                      version: 1.1.2
                      tag: latest
                      release: 1.0
                      date: 2021-09-09
                      required:
                        api-gateway: 1.0.1
                      aplications:
                        - name: httpd
                          tag: 1.0.1
                          description:
                            warnings: "* warning1\r\n* warning2"
                            features: "* feature1\r\n* feature2"
                            security_fixes: "* security1\r\n* security2"
                            bug_fixes: "* bug1\r\n* bug2"
                            depricated: "* depricated1\r\n* depricated2"
                            known_issues: ""

    put:
      tags:
        - 'Service'
      parameters:
        - in: path
          name: service_name
          schema:
            type: string
          required: true
        - in: query
          name: version
          schema:
            type: string
            example: 2.0.2
          required: true
      summary: Upgrade version from release overview
      responses:
        '200':
          description: 'Success'
        '204':
          description: 'No content'

  /service/{service_name}/downgrade:
    get:
      parameters:
        - in: path
          name: service_name
          schema:
            type: string
          required: true
      tags:
        - 'Service'
      summary: Get all installed versions for downgrade
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  data:
                    type: array
                    example:
                      - "2.0.2"
                      - "2.0.1"
    put:
      parameters:
        - in: path
          name: service_name
          schema:
            type: string
          required: true
        - in: query
          name: version
          schema:
            type: string
            example: 2.0.1
          required: true
      tags:
       - 'Service'
      summary: Downgrade version from version overview
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              type: object
#              properties:
#                version:
#                  type: string
#                  example: 2.0.0
      responses:
        '200':
          description: 'Success'
        '204':
          description: 'No content'

  /services/status:
    get:
      tags:
        - 'Services'
      summary: Get services statuses
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                example:
                  - common_name: web-server
                    common_status: Complete
                    common_service_installed: true
                    services:
                      web-server-api:
                        service_installed: true
                        service_status: Complete
                      web-server-db:
                        service_installed: true
                        service_status: Complete
components:
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    AccountAccessError:
      description: Account access is denied
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
