openapi: 3.0.0
info:
  title: Service Delivery API
  description: Service API. Authorization SSO JWT token is required to test API
  version: '1.0'
externalDocs:
  description: Service Delivery API design
  url: https://support.icdc.io/projects/locationadmin/wiki/Service_Delivery_Design
servers:
- url: https://api.scz.lab.icdc.io/api/delivery/v1
  description: API Proxy SCZ Lab
- url: https://api.dcz.lab.icdc.io/api/delivery/v1
  description: API Proxy DCZ Lab
- url: https://api-loc.ext.dcl.ocp.lab.icdc.io/api/delivery/v1
  description: API Route DCL Lab
- url: https://api.ext.upi.ocp.lab.icdc.io/api/v1
  description: API Route UPI Lab
- url: https://service-api.icdc.d3.zby.icdc.io/api/v1
  description: Service API Route
tags:
  - name: Service (old)
    description: Old version of Service API
  - name: Services
    description: Services API

paths:
# TODO: Remove
  /service/{service_name}/version:
    get:
      tags:
       - 'Service (old)'
      summary: Get available versions to install
      operationId: getVersions
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                example:
                  - type: object
                    properties:
                      version: 1.0.2
                      tag: latest
                      release: 1.0
                      date: 2021-09-09
                      required:
                        api-gateway: 1.0.1
                      applications:
                        - name: httpd
                          tag: 1.0.1
                          description:
                            warnings: "* warning1\r\n* warning2"
                            features: "* feature1\r\n* feature2"
                            security_fixes: "* security1\r\n* security2"
                            bug_fixes: "* bug1\r\n* bug2"
                            depricated: "* depricated1\r\n* depricated2"
                            known_issues: ""

  /service/{service_name}/install:
    post:
      operationId: installService
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
        - $ref: "#/components/parameters/Version"
      tags:
        - 'Service (old)'
      summary: Install service
      responses:
        '204':
          description: 'No content'
    get:
      operationId: getInstalledVersion
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
      tags:
        - 'Service (old)'
      summary: Get installed version
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  data:
                    type: string
                    example: 1.1.1

  /service/{service_name}:
    get:
      operationId: describeService
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
      tags:
        - 'Service (old)'
      summary: Explore installed service version details
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: 1.1.1
                  tag:
                    type: string
                    example: latest
                  date:
                    type: string
                    example: '2024-02-09'
                  required:
                    type: object
                    properties:
                      admin:
                        type: string
                        example: 1.0.0
                      compute:
                        type: string
                        example: 1.0.0
                  applications:
                    type: array
                    example:
                      - name: apigw
                        tag: 1.0.0
                        description:
                          warnings: "* warning1\r\n* warning2"
                          features: "* feature1\r\n* feature2"
                          security_fixes: "* security1\r\n* security2"
                          bug_fixes: "* bug1\r\n* bug2"
                          depricated: "* depricated1\r\n* depricated2"
                          known_issues: ""
                      - name: engine
                        tag: 1.0.0
                        ui_url: /billing/engine/remoteEntry.js
                        description:
                          warnings: "* warning1\r\n* warning2"
                          features: "* feature1\r\n* feature2"
                          security_fixes: "* security1\r\n* security2"
                          bug_fixes: "* bug1\r\n* bug2"
                          depricated: "* depricated1\r\n* depricated2"
                          known_issues: ""
    delete:
      operationId: deleteService
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
        - in: query
          name: delete_persistent_data
          schema:
            type: string
  #          default: false
  #          example: true
          description: Default value is empty (false)
        - in: query
          name: delete_backup_data
          schema:
            type: string
  #          default: false
  #          example: true
          description: Default value is empty (false)
      tags:
        - 'Service (old)'
      summary: Delete service
      responses:
        '204':
          description: 'No content'

  /service/{service_name}/update:
    get:
      operationId: GetUpdateVersion
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
      tags:
       - 'Service (old)'
      summary: Get update vesion
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                example:
                  - type: object
                    properties:
                      version: 1.0.2
                      tag: latest
                      release: 1.0
                      date: 2021-09-09
                      required:
                        api-gateway: 1.0.1
                      applications:
                        - name: httpd
                          tag: 1.0.1
                          description:
                            warnings: "* warning1\r\n* warning2"
                            features: "* feature1\r\n* feature2"
                            security_fixes: "* security1\r\n* security2"
                            bug_fixes: "* bug1\r\n* bug2"
                            depricated: "* depricated1\r\n* depricated2"
                            known_issues: ""
    put:
      operationId: updateService
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
        - $ref: "#/components/parameters/Version"
      tags:
       - 'Service (old)'
      summary: Update version from update overview
      responses:
        '200':
          description: 'Success'
        '204':
          description: 'No content'
  /service/{service_name}/release:
    get:
      operationId: GetUpgradeVersion
      tags:
        - 'Service (old)'
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
      summary: Get release version
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                example:
                  - type: object
                    properties:
                      version: 1.1.2
                      tag: latest
                      release: 1.0
                      date: 2021-09-09
                      required:
                        api-gateway: 1.0.1
                      applications:
                        - name: httpd
                          tag: 1.0.1
                          description:
                            warnings: "* warning1\r\n* warning2"
                            features: "* feature1\r\n* feature2"
                            security_fixes: "* security1\r\n* security2"
                            bug_fixes: "* bug1\r\n* bug2"
                            depricated: "* depricated1\r\n* depricated2"
                            known_issues: ""

    put:
      operationId: upgradeService
      tags:
        - 'Service (old)'
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
        - $ref: "#/components/parameters/Version"
      summary: Upgrade version from release overview
      responses:
        '200':
          description: 'Success'
        '204':
          description: 'No content'

  /service/{service_name}/downgrade:
    get:
      operationId: GetDowngradeVersion
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
      tags:
        - 'Service (old)'
      summary: Get all installed versions for downgrade
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 200
                  data:
                    type: array
                    example:
                      - "2.0.2"
                      - "2.0.1"
    put:
      operationId: downgradeService
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: "#/components/parameters/Service"
        - $ref: "#/components/parameters/Version"
      tags:
       - 'Service (old)'
      summary: Downgrade version from version overview
#      requestBody:
#        required: true
#        content:
#          application/json:
#            schema:
#              type: object
#              properties:
#                version:
#                  type: string
#                  example: 2.0.0
      responses:
        '200':
          description: 'Success'
        '204':
          description: 'No content'
# end TODO
  /services/status:
    get:
      operationId: getServicesStatus
      tags:
        - Services
      summary: Get services statuses
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalServerError'
  /services/apps:
    get:
      operationId: getServicesApps
      summary: Get info about installed services and apps
      tags:
        - Services
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GithubApp'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalServerError'
  /services:
    get:
      operationId: ServicesList
      summary: Get list of available services
      tags:
        - Services
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Services'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalServerError'
  /services/{service_name}:
    get:
      operationId: getService
      summary: Get information of the specific service
      tags:
        - Services
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: '#/components/parameters/Service'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: serviceDelete
      summary: Delete service
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: '#/components/parameters/Service'
        - in: query
          name: delete_persistent_data
          schema:
            type: string
            default: false
            example: true
        - in: query
          name: delete_backup_data
          schema:
            type: string
            default: false
            example: true
      tags:
        - Services
      responses:
        204:
          description: No content
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /services/{service_name}/install:
    post:
      operationId: serviceInstall
      summary: Install service
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: '#/components/parameters/Service'
        - $ref: '#/components/parameters/Version'
      tags:
        - Services
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /services/{service_name}/downgrade:
    put:
      operationId: serviceDowngrade
      summary: Downgrade service version
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: '#/components/parameters/Service'
        - $ref: '#/components/parameters/Version'
      tags:
        - Services
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /services/{service_name}/update:
    put:
      operationId: serviceUpdate
      summary: Update service version
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: '#/components/parameters/Service'
        - $ref: '#/components/parameters/Version'
      tags:
        - Services
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
  /services/{service_name}/release:
    put:
      operationId: serviceUpgrade
      summary: Upgrade service version
      security:
        - bearerAuth: []
          Account: []
          Role: []
          Group: []
      parameters:
        - $ref: '#/components/parameters/Service'
        - $ref: '#/components/parameters/Version'
      tags:
        - Services
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 400
            message: Bad request, version is incorrect
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 403
            message: You're not authorized to perform action.
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 404
            message: Bad request, service not found
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 500
            message: Internal server error
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Account:
      type: apiKey
      in: header
      name: x-auth-account
    Role:
      type: apiKey
      in: header
      name: x-auth-role
    Group:
      type: apiKey
      in: header
      name: x-auth-group
  schemas:
    Service:
      type: object
      properties:
        name:
          type: string
          example: billing
        namespace:
          type: string
          example: dev-sd-billing
        release:
          type: string
          example: 1.3
        current_version:
          type: string
          example: 1.3.0
        platform_version:
          type: string
          example: 4.04
        downgrade_versions:
          type: array
          items:
            example: 1.2.0, 1.1.0
        update_versions:
          type: array
          items:
            $ref: '#/components/schemas/UpdateVersion'
        upgrade_versions:
          type: array
          items:
            $ref: '#/components/schemas/UpgradeVersion'
    Services:
      description: >
        List of services
      type: array
      items:
        $ref: '#/components/schemas/Service'
    UpdateVersion:
      type: object
      properties:
        version:
          type: string
          example: 1.3.1
        tag:
          type: string
          example: latest
        release:
          type: string
          example: 1.3
        date:
          type: string
          example: 2024-07-10
        platform_version:
          type: string
          example: 4.04
        required:
          type: array
          items:
            $ref: '#/components/schemas/Requirements'
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
    UpgradeVersion:
      type: object
      properties:
        version:
          type: string
          example: 1.4.0
        tag:
          type: string
          example: latest
        release:
          type: string
          example: 1.4
        date:
          type: string
          example: 2024-07-10
        platform_version:
          type: string
          example: 4.05
        required:
          type: array
          items:
            $ref: '#/components/schemas/Requirements'
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
    Application:
      type: object
      properties:
        name:
          type: string
          example: engine
        tag:
          type: string
          example: 1.2.2
          description: is a default language display name of service/application (or translated if internalization is implemented on backend)
        description:
          $ref: '#/components/schemas/ChangeLogDescription'
    Status:
      type: object
      properties:
        common_name:
          type: string
          example: admin
        common_status:
          type: string
          example: Complete
        common_service_installed:
          type: boolean
          example: true
        common_service_deleted:
          type: boolean
          example: true
        common_data_deleted:
          type: boolean
          example: true
        common_backup_deleted:
          type: boolean
          example: true
        services:
          type: array
          items:
            type: object
            properties:
              api-proxy:
                type: object
                properties:
                  service_installed:
                    type: boolean
                    example: true
                  service_status:
                    type: string
                    example: Complete
    GithubApp:
      type: object
      properties:
        title:
          type: string
          example: Account Settings
        label:
          type: string
          example: SVC_ACCOUNT
          description: is a default language display name of service/application (or translated if internalization is implemented on backend)
        apps:
          type: array
          items:
            example:
              - name: billing
                title: Billing
                roles: operator,owner,billing
        description:
          type: string
          example: Manage account settings, users and billing.
        position:
          type: number
          example: 6
        display_name:
          type: string
          example: Account
        path:
          type: string
          example: /account
        url:
          type: string
          example: url
    Requirements:
      type: object
      properties:
        admin:
          type: string
          example: 1.2.0
        compute:
          type: string
          example: 1.0.0
    ChangeLogDescription:
      type: object
      properties:
        warnings:
          type: string
          example: warnings
        features:
          type: string
          example: features
        enhancements:
          type: string
          example: enhancements
        security_fixes:
          type: string
          example: security_fixes
        bug_fixes:
          type: string
          example: bug_fixes
        deprecated:
          type: string
          example: deprecated
        known_issues:
          type: string
          example: known_issues
    # Schema for error response body
    Error:
      type: object
      properties:
        status:
          description: HTTP status code
          type: integer
        message:
          description: Localized human-readable error message passed into error pop-ups on frontend
          type: string
        code:
          description: Application-specific error code
          type: string
        errors:
          type: array
          description: Verbose error messages or multiple validation errors
          items:
            type: string
          example:
            - 'Name value is not unique'
            - 'Amount value is not integer'
      required:
        - status
        - message
  parameters:
    Service:
      in: path
      name: service_name
      description: >
        Name of the service
      required: true
      schema:
        type: string
      example: billing
    Version:
      in: query
      name: version
      description: >
        Version of the service
      schema:
        type: string
      example: 1.3.0
      required: true
security:
  - bearerAuth: []
